<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
  <div class="container">
    <div class="left-section">
      <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo.png"
          alt="The Beyonders Gate logo" width="264" height="78" /></a>
    </div>
    <div class="right-section">
      <div class="lists">
        <ul>
          <li>
            <h2>Information</h2>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/clarity-goal-setting/">Services</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
        <ul>
          <li>
            <h2>Our Services</h2>
          </li>
          <li><a href="/clarity-goal-setting/">Clarity & Goal Setting</a></li>
          <li><a href="/mindfulness-emotional-resilience/">Mindfulness Training</a>
          </li>
          <li><a href="/breakthrough-transformation-coaching/">Breakthrough Coaching</a>
          </li>
        </ul>
        <ul>
          <li>
            <h2>Contact</h2>
          </li>
          <li>
            <a href="/contact">Kalamazoo, MI</a>
          </li>
          <li>
            <a href="tel:248-229-8138">Tel: (248) 229-8138</a>
          </li>
          <li>
            <a href="mailto:mazin@dynamiclifeway.com">mazin@dynamiclifeway.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="credit">
    <span>Designed and Hand Coded by</span>
    <a href="www.kalamazoowebsitedesign.com" target="_blank" rel="noopener">Kalamazoo Website Design</a>
    <span class="copyright"> Copyright 2025 - Present</span>
  </div>
</footer>